/** UPDATE FILES **/
.topbar {
  display: none;
}



.btn-primary {
  color: #000 !important;
  background-color: #ecc311;
  border-color: #ecc311;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}

#search-block-form input.form-submit {
  line-height: 0;
  color: #000;
  height: 35px;
}

@media (min-width: 768px) and (min-width: 992px) {
  .navigation .gva_menu .sub-menu li:hover > ul {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }
